{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}
{#    {{ dump(post) }}#}
    <div class="container">
            <div class="row bg-light border rounded p-2 mb-4">
                <div class="col">
                    <div class="row">
                        <div class="col p-4 d-flex flex-column">
                            <h3>{{ post.titulo }}</h3>
                            <div class="text-muted mb-1">Autor: {{ post.user.nombre }}</div>
                            <div class="text-muted mb-1">Fecha de publicación: {{ post.createdAt|date('Y-m-d') }}</div>
                            <div class="row">
                                <div class="col">
                                    {% for tag in post.tags %}
                                        <span class="badge badge-primary">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row pt-4 pb-4">
                                <div class="col">
                                    {% if not post.file %}
                                        <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 230px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22727%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20727%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e7825979d%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A36pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e7825979d%22%3E%3Crect%20width%3D%22727%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22271.4140625%22%20y%3D%22106.05000000000001%22%3E727x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                                    {% else %}
                                        <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="width: 100%; display: block;" src="{{ asset('uploads/images' ~ '/' ~ post.file) }}" data-holder-rendered="true">
                                    {% endif %}                                </div>
                            </div>
                            {{ post.descripcion }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-light border rounded p-2 mb-4">
                <div class="col">
                    <h3>Comentarios</h3>
                    {% if app.user %}
                    {{ form_start(form) }}
{#                    {{ form_row(form.comentario, {'label': 'Comentario'}) }}#}
                    <div class="d-flex flex-column">
                        {{ form_label(form.comentario) }}
                        {{ form_widget(form.comentario, { 'attr': {'class': 'form-control'} }) }}
                    </div>
{#                    {{ form_widget(form) }}#}

                    <div class="form-group pt-2">
                        <div class="col-sm-2 col-sm-10 pl-0">
                            <button type="submit" class="btn btn-success">Crear comentario</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {% endif %}
                    {% for comment in post.comments %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.user }}</h5>
                            <div class="text-muted mb-1">Email: {{ comment.user.email }}</div>
                            <p class="card-text">{{ comment.comentario }}</p>
                            <div class="mb-2 d-flex">
                                    <i class="fa fa-thumbs-up" style="font-size: 35px; cursor: pointer" onclick="meGusta({{ comment.id }})"></i>
                                    {% set sum = 0 %}
                                    {% for likes in comment.likes %}
                                         {% if likes.isLike %}
                                             {% set sum = sum + 1 %}
                                         {% endif %}
                                    {% endfor %}
                                        {% if sum != 0 %}
                                        <h3 id="likes-{{ comment.id }}">{{ sum }}</h3>
                                            {% else %}
                                            <h3 id="likes-{{ comment.id }}">{{ sum }}</h3>
                                        {% endif %}
                                <i onclick="dislike({{ comment.id }})" class="ml-3 fa fa-thumbs-down" style="font-size: 35px; cursor: pointer;"></i>
                                {% set sum = 0 %}
                                {% for likes in comment.likes %}
                                    {% if not likes.isLike %}
                                        {% set sum = sum + 1 %}
                                    {% endif %}
                                {% endfor %}
                                    <h3 id="dislikes-{{ comment.id }}">{{ sum }}</h3>
                            </div>
                            <div style="display: none;" class="alert alert-danger" id="error-{{ comment.id }}">
                                <strong>Warning!</strong>
                                <p>Better check yourself, you're not looking too good.</p>
                            </div>
                            <blockquote class="blockquote mb-0">
                                <footer class="blockquote-footer">Sitio web: <cite title="Source Title">{{ comment.web }}</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ajax-call.js') }}"></script>
{% endblock %}